@import url('nav.css');
@import url('covid19.css');
@import url('affected-counties.css');
@import url('symptom.css');
@import url('protect-covid.css');
@import url('footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family:  'Roboto';
    font-weight: normal;
    font-style: normal;
    background: #f2f4f5;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


